<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="bg-success text-center text-white py-4 mt-5" th:fragment="footer">
  <div class="container">
    <img th:src="@{/images/logocancelei.png}" alt="Cancelei Logo" style="max-height: 40px;" class="mb-2"><br>
    <small>
      &copy; 2025 Cancelei. Todos os direitos reservados. |
      <a href="mailto:contato@cancelei.com" class="text-decoration-none text-white">contato@cancelei.com</a> |
      <a href="#" data-bs-toggle="modal" data-bs-target="#termosModal" class="text-decoration-none text-white">Termos de Uso</a>
    </small>
  </div>
</footer>
</body>
</html>
