<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="navbarAdmin">
  <nav class="navbar navbar-expand-lg" style="background-color: #198754;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <a class="navbar-brand d-flex align-items-center" th:href="@{/admin/usuarios}">
        <img th:src="@{/images/logocancelei.png}" alt="Logo" width="48" height="48" class="me-2">
        <span class="text-white fw-bold fs-5">Cancelei</span>
      </a>
      <div class="d-flex align-items-center">
        <form th:action="@{/logout}" method="post">
          <button type="submit" class="btn text-danger bg-transparent border-0 fw-bold">Sair</button>
        </form>
      </div>
    </div>
  </nav>
</div>
</body>
</html>
