<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home - Cancelei</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/script.js}"></script>
</head>
<body>

<div class="logo-container">
  <img th:src="@{/images/logocancelei.png}" alt="Logo Cancelei">
</div>

<div class="navbar">
  <a href="/home">Home</a>
  <a href="/assinaturas">Assinaturas</a>
  <a href="/pagamentos">Pagamentos</a>
</div>

<h1>Bem-vindo ao Cancelei!</h1>
<p style="text-align: center;">Gerencie suas assinaturas e pagamentos com facilidade.</p>

</body>
</html>
